################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample File Writing MServer Memory leak MP-1640 with audio copy/.vs/Sample File Writing/v15/Server/sqlite3/storage.ide-wal
/Sample File Writing MServer Memory leak MP-1640 with audio copy/.vs/Sample File Writing/v15
/MP-1640 MemoryLeakTest (MFAudioCopy)/.vs/Sample File Writing/v15/Server/sqlite3
